<div class="container">
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolor ea molestiae dicta. Commodi quidem voluptas libero, harum labore vitae eius sunt quod porro fuga magnam assumenda explicabo blanditiis! Perferendis?</p>
    </div>
</div>
</div>