<div class="jumbotron mt-4">
    <h1 class="display-4">Notes Apps Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos? Aliquam aut modi, error accusamus quod quisquam sapiente magnam, quis maxime id iste omnis repellendus perferendis voluptatem excepturi iusto temporibus.
    
    </p>
    <hr class="my-4">
    
    <p>
        He creado este sitio web para usar las notas instantáneas con las que podrás ordenar tus prioridades a la hora de trabajar. De momento es tan sólo algo muy básico pero poco a poco iré mejorando diferentes partes. Tal vez lo vuelva a crear en React, otra de las bibliotecas de javascript. Javascript ahora mismo está en mi mira y seguiré realizando cosas nuevas y mejoradas. 
    </p>
    <p>
        Si lo deseas puedes contactar conmigo en el formulario de contacto, tienes un botón aquí abajo para que envies tus preguntas. Contestaré lo antes posible.
    </p>
    <a href="/contact" class="btn btn-primary btn-lg">Contacto</a>
</div>