<div class="jumbotron mt-4">
    <h1 class="display-4">Notes Apps Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos? Aliquam aut modi, error accusamus quod quisquam sapiente magnam, quis maxime id iste omnis repellendus perferendis voluptatem excepturi iusto temporibus.
    
    </p>
    <hr class="my-4">
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, corrupti harum officiis praesentium tempora magni autem ipsa omnis esse illo, vel sequi minima aut eos, recusandae explicabo voluptatem sapiente fuga?
    </p>
    <a href="#" class="btn btn-primary btn-lg">Portfolio</a>
</div>