<footer class="bg-dark fixed-bottom text-white text-center p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="social-links">
                    <a href="mailto:alexsantos2018@outlook.es" target="_blank"><img  src="/img/icono-email.png" alt="Email"></a>
                    <a href="https://github.com/naymco?tab=repositories" target="_blank"><img  src="/img/icono-github.png" alt="GitHub"></a>
                    <a href=""><img  src="/img/icono-instagram.png" alt="Instagram"></a>
                    <a href=""><img  src="/img/icono-linkedin.png" alt="Linkedin"></a>
                      <p>NotesApp es creada con NodeJs y Express 2019 &copy;</p>
                </div>
            </div>
              

        </div>

    </div>
    
</footer>